
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: arial;
    background:  url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid black;
}
hr
{
  margin-top: 5%;
  
}

input {
    padding: 10px;
    font-size: 22px;
    width:60%;
    height: 55px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 30px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    width: 30%;
    height: 55px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#countDisplay {
    font-size: 30px;
    margin-top: 20px;
    color: black;
    margin-top:15%;
}